# 问题和建议集合

1. 用户体系集成

   1. 用户 应该修改为 账户，目前有三个表示人的名词。 用户控制台登录的账号，联系人列表的联系人（有的又叫好友），联系人的属性（又叫用户信息），很乱。
   2. [input/v2/orginal/callback_contact.md](../orginal/callback_contact.md)
   3. [input/v2/orginal/user_relationship.md](../orginal/user_relationship.md)
   4. [input/v2/orginal/account_system.md](../orginal/account_system.md)

2. 修改用户密码
   1. 方法问题：修改用户密码应该选择 PATCH( 当前是 PUT)
3. 错误码建议

   1. 除了 http 状态码之外，添加整数型的错误值。对于客户端和使用者友好。

4. // todo: 这里是通用的、具体的、不好放在表格里面的问题在这里描述

# 问题表格

// todo: 这里是针对每一个接口给出的具体评价

| 接口名称                                   | 方法选择评价 | 状态保存评价 | 认证方式评价 | 标准头评价 | 成功响应格式评价 | 错误响应格式评价 | 动词使用评价 | 数据传递规则评价 | http 状态码使用评价 | 分页评价 | URL 命名规范评价 | 数据压缩评价 | 嵌套评价 | 批量操作评价 | 国际化评价 | 搜索评价 | 文件操作评价 | 安全规范评价 |
| :----------------------------------------- | :----------- | :----------- | :----------- | :--------- | :--------------- | :--------------- | :----------- | :--------------- | :------------------ | :------- | :--------------- | :----------- | :------- | :----------- | :--------- | :------- | :----------- | ------------ |
| https://{host}/{org_name}/{app_name}/users |
